* {   /* asterisk is the universal selector for css */
    margin: 0;  /*margin & padding to 0 ensures all elements on the pag will have no margin or padding */
    padding: 0; /* fyi this looks better at 2 than zero! */
    box-sizing: border-box; /* setting box sizing to "border-box", this tells the browser to account for ANY border and padding in the values I specify for an elements width and height*/
}
body { /* this is how to push the font to Roboto (which we inserted from fonts.google.com. Next talk to the paragraphs section */
    font-size: 16;
    font-family: Roboto, Arial, sans-serif;
}

nav {             
    background-color: steelblue;
    padding: 10px;  
}

nav a {              
    color: rgb(255, 255, 255);   
    display: block;   
    padding: 20px;    
}

h1 {                   
    color: steelblue; 
    padding: .5rem;
}

main img {  
                
    width: 150px;       
    height: auto;       
    border: 1px solid steelblue; 
    padding: 2px;      
    box-shadow: 0 0 10px gray;
    float: right;   
    margin: 0 0 1rem 1rem; /* top 0, right 0, bottom 1rem, left 1rem */
}

p {                    
    padding: 1rem;     /*this WAS zero. changed to 1rem after adding font*/
}

main {
    max-width: 840px;

}

aside {
    width: 20rem;
    text-align: center;
    position: relative; /* Validation showed this needed to be done! */
    /* margin-left: 1rem; /* to see if this stops color bleeding  */ 
    
} /* This is the header over the Australia aside kangaroo picture */
aside h2 { 
    position: absolute;  /* absolute compared to it's container - whatever the container is, it'll stay with it*/
    top: 15px;
    left: 45px;
}


aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}
/* CLASS SELECTORS */
.box { /* make sure to have the . in the syntax when defining the box class! THIS relates to the designation given to the ASIDE element in the html page*/
    margin: 1rem; /* 1rem means match the baseline font size */
    border: 1px solid rgba(0, 0, 0, 0.1); /* SOLID was missing - need it to make proper syntax */
    padding: 1rem;
    background-color: rgb(133, 242, 216); 
    color: black;
}

.indent { /* applied to the ul in the ul class, following the box class*/
    padding-left: 2rem; /* this is the padding left of the ul*/
}